---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Welcome to Astro.">
  <Navigation />
  <main>
    <form name="contact" method="POST" data-netlify="true"></form>
  </main>
</Layout>
