<div class="flex items-center gap-3">
  <svg
    class="hidden desktop:block"
    width="34"
    height="48"
    viewBox="0 0 34 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6.83904 21.498C7.53745 21.3161 8.16459 21.1222 8.80297 20.9785C11.4723 20.3776 12.7578 18.5764 13.2302 15.9982C14.1314 11.0795 15.0706 6.1677 15.9952 1.25324C16.0306 1.06529 16.0658 0.875754 16.1228 0.693786C16.2465 0.299323 16.4779 -0.0114479 16.9268 0.000323682C17.3399 0.0111596 17.5681 0.324857 17.6537 0.68142C17.8641 1.55782 18.0462 2.4419 18.2111 3.32823C19.0103 7.6248 19.7913 11.9248 20.5964 16.2202C21.1212 19.0199 22.8382 20.5885 25.6024 21.175C27.9514 21.6734 30.2718 22.3082 32.6019 22.8943C33.1763 23.0387 33.7554 23.2669 33.7852 23.9658C33.8178 24.7321 33.1993 24.956 32.6017 25.1098C30.0638 25.7629 27.5282 26.4263 24.9796 27.0353C22.3625 27.6607 21.0381 29.3982 20.5704 31.9466C19.6717 36.8433 18.7642 41.7385 17.8452 46.6314C17.7369 47.2082 17.6838 47.9775 16.9195 47.9995C16.1229 48.0224 16.1038 47.2552 15.9945 46.6723C15.0625 41.7022 14.1365 36.7309 13.2057 31.7606C12.6928 29.0219 11.0214 27.4706 8.334 26.8722C5.99001 26.3504 3.66744 25.7316 1.33719 25.1485C1.07369 25.0826 0.812433 24.9903 0.566573 24.875C0.18405 24.6957 -0.0089968 24.3636 0.000322001 23.9494C0.0091602 23.5567 0.238446 23.2626 0.600193 23.1419C1.24626 22.9262 1.90384 22.7419 2.56345 22.571C3.96429 22.2081 5.36951 21.8622 6.83904 21.498Z"
      fill="#FF4C43"></path>
  </svg>
  <svg
    class="desktop:hidden"
    width="23"
    height="32"
    viewBox="0 0 23 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4.55936 14.332C5.02497 14.2107 5.44306 14.0815 5.86865 13.9857C7.64819 13.5851 8.50521 12.3842 8.82011 10.6655C9.4209 7.38632 10.047 4.1118 10.6635 0.835491C10.687 0.710193 10.7105 0.583836 10.7486 0.462524C10.831 0.199548 10.9853 -0.00763196 11.2845 0.000215788C11.56 0.00743975 11.712 0.216572 11.7691 0.45428C11.9094 1.03854 12.0308 1.62793 12.1407 2.21882C12.6735 5.0832 13.1942 7.94986 13.731 10.8135C14.0808 12.68 15.2254 13.7257 17.0682 14.1167C18.6342 14.4489 20.1812 14.8722 21.7346 15.2628C22.1176 15.3591 22.5036 15.5113 22.5234 15.9772C22.5452 16.4881 22.1329 16.6374 21.7345 16.7399C20.0426 17.1753 18.3521 17.6175 16.6531 18.0235C14.9083 18.4405 14.0254 19.5988 13.7136 21.2977C13.1145 24.5622 12.5095 27.8257 11.8968 31.0876C11.8246 31.4721 11.7892 31.985 11.2797 31.9997C10.7486 32.0149 10.7359 31.5034 10.663 31.1149C10.0416 27.8014 9.42435 24.4873 8.8038 21.1737C8.46188 19.3479 7.34759 18.3137 5.556 17.9148C3.99334 17.5669 2.44496 17.1544 0.891458 16.7657C0.715794 16.7217 0.541622 16.6602 0.377715 16.5834C0.1227 16.4638 -0.00599787 16.2424 0.000214667 15.9663C0.0061068 15.7045 0.158964 15.5084 0.400128 15.4279C0.830838 15.2842 1.26923 15.1613 1.70897 15.0474C2.64286 14.8054 3.57968 14.5748 4.55936 14.332Z"
      fill="#FF4C43"></path>
  </svg>

  <a href="/" class="font-phudu text-200 desktop:text-300">Stellar Labs</a>
</div>
